<div>
    <form action="/" method="POST">
        <label> Buscar dados </label><br>
        <input type="search" name="ceps" placeholder="Digite o CEP para buscar os dados..." >
    </form>
</div>
<div>
    <br><br><br><br><br>

    <label> {{cep}}  </label><br>
    <label>  {{state}} </label> <br>
    <label>   {{city}} </label><br>
    <label> {{neighborhood}} </label> <br>
    <label> {{street}} </label> <br>
    <label> {{service}} </label><br>
  
</div>